In [1]:
# libraries
#importing necessary packages for the assignment
import os
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from PIL import Image
import urllib
from random import choices
from itertools import chain
# Levenshtein Distance in Python
# https://github.com/seatgeek/thefuzz
from thefuzz import fuzz, process

# Matplotlib configuration
font = { 'family': 'DejaVu Sans', 'weight': 'bold', 'size': 16 }
plt.rc('font', **font)

# Pandas config
pd.options.mode.chained_assignment = None  # default='warn'




from functools import wraps
import types

from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.rdd import RDD, RDDBarrier
from pyspark.files import SparkFiles
from pyspark.storagelevel import StorageLevel
from pyspark.accumulators import Accumulator, AccumulatorParam
from pyspark.broadcast import Broadcast
from pyspark.serializers import MarshalSerializer, PickleSerializer
from pyspark.status import *
from pyspark.taskcontext import TaskContext, BarrierTaskContext, BarrierTaskInfo
from pyspark.profiler import Profiler, BasicProfiler
from pyspark.version import __version__
from pyspark._globals import _NoValue



import time
import re
import pandas as pd
import numpy as np
import jellyfish as jf
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier
from sklearn.dummy import DummyClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import Perceptron
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score



#MLlib
#machiine learning API for spark

from __future__ import print_function
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating


import numpy as np
import pandas as pd
import pickle
import vaderSentiment
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
import spacy
nlp = spacy.load("en_core_web_sm")
import gc
gc.collect()
# set random seed
np.random.seed(seed=42)

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.cluster import MiniBatchKMeans
from skimpy import clean_columns
from sentence_transformers import SentenceTransformer
import matplotlib.pyplot as plt
from fuzzywuzzy import process, fuzz
model = SentenceTransformer('bert-base-nli-mean-tokens')
import pandas as pd
import keras
from keras import Sequential, layers, regularizers, optimizers
import numpy as np
from string import punctuation
import pyprind
from collections import Counter
from keras.preprocessing.text import Tokenizer
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from scipy import stats
from natsort import natsorted,ns

import numpy as np
import pandas as pd
import re
import nltk
from nltk.stem.snowball import SnowballStemmer
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from nltk import sent_tokenize
from sentence_transformers import SentenceTransformer
from sklearn.feature_extraction.text import HashingVectorizer, TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import FeatureUnion, Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn import svm
import csv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer


import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter

import pandas as pd
import numpy as np
import sklearn.preprocessing, sklearn.decomposition, sklearn.linear_model, sklearn.pipeline, sklearn.metrics, sklearn.compose
from sklearn.feature_extraction.text import CountVectorizer

# Import package/module for data
import numpy as np
import pandas as pd
from seaborn import load_dataset

# Import modules for feature engineering and modelling
from sklearn.model_selection import train_test_split
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn import datasets

C:\ProgramData\Anaconda3\lib\site-packages\thefuzz\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')
C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
#calling the training parquet file in which processing has to be done
offers_training_df = pd.read_parquet('offers_training.parquet')

In [4]:
offers_training_df_updated = offers_training_df [['offer_id', 'brand', 'color', 'title', 'description']]
offers_training_df_updated.head()

,offer_id,brand,color,title,description
0,d8e0dba8-98e8-48db-9850-dd30cff374e0,PIECES,hellblau | Blau,Kleid,"{""Material"": [""Baumwolle""], ""\u00c4rmell\u00e4..."
1,c0a743f8-68cf-44dc-80cf-b5edbe70ecb7,LASCANA,schwarz | mischfarben | Schwarz,Bikinihose,"{""Leibh\u00f6he"": [""Super Low Waist""], ""Marke""..."
2,f0328791-9839-4bc1-ac62-78b7515e9601,MAMALICIOUS,beige | Beige,Chino-Hose,"{""Marke"": [""MAMALICIOUS""], ""Gr\u00f6\u00dfenla..."
3,556e8f61-b1d7-4d72-8bae-d74f9357270b,rosemunde,rosa | Pink,Top / Seidentop,"{""Marke"": [""rosemunde""], ""Zielgruppe"": [""Femal..."
4,48b32330-0a6e-4c10-9ef5-c585ac6da701,PIECES,mischfarben | schwarz | Mischfarben | Schwarz,Kleid,"{""\u00c4rmell\u00e4nge"": [""Langarm""], ""Ausschn..."

In [5]:
offers_training_df_updated["Name2"] = offers_training_df_updated["brand"] + ' ' + offers_training_df_updated["color"] + ' ' + offers_training_df_updated["title"]

In [6]:
offers_training_df_updated.head()

,offer_id,brand,color,title,description,Name2
0,d8e0dba8-98e8-48db-9850-dd30cff374e0,PIECES,hellblau | Blau,Kleid,"{""Material"": [""Baumwolle""], ""\u00c4rmell\u00e4...",PIECES hellblau | Blau Kleid
1,c0a743f8-68cf-44dc-80cf-b5edbe70ecb7,LASCANA,schwarz | mischfarben | Schwarz,Bikinihose,"{""Leibh\u00f6he"": [""Super Low Waist""], ""Marke""...",LASCANA schwarz | mischfarben | Schwarz Bikini...
2,f0328791-9839-4bc1-ac62-78b7515e9601,MAMALICIOUS,beige | Beige,Chino-Hose,"{""Marke"": [""MAMALICIOUS""], ""Gr\u00f6\u00dfenla...",MAMALICIOUS beige | Beige Chino-Hose
3,556e8f61-b1d7-4d72-8bae-d74f9357270b,rosemunde,rosa | Pink,Top / Seidentop,"{""Marke"": [""rosemunde""], ""Zielgruppe"": [""Femal...",rosemunde rosa | Pink Top / Seidentop
4,48b32330-0a6e-4c10-9ef5-c585ac6da701,PIECES,mischfarben | schwarz | Mischfarben | Schwarz,Kleid,"{""\u00c4rmell\u00e4nge"": [""Langarm""], ""Ausschn...",PIECES mischfarben | schwarz | Mischfarben | S...

In [7]:
offers_training_df_updated_1 = offers_training_df_updated [['offer_id', 'brand', 'Name2']]

In [8]:
offers_training_df_updated_1.head()

,offer_id,brand,Name2
0,d8e0dba8-98e8-48db-9850-dd30cff374e0,PIECES,PIECES hellblau | Blau Kleid
1,c0a743f8-68cf-44dc-80cf-b5edbe70ecb7,LASCANA,LASCANA schwarz | mischfarben | Schwarz Bikini...
2,f0328791-9839-4bc1-ac62-78b7515e9601,MAMALICIOUS,MAMALICIOUS beige | Beige Chino-Hose
3,556e8f61-b1d7-4d72-8bae-d74f9357270b,rosemunde,rosemunde rosa | Pink Top / Seidentop
4,48b32330-0a6e-4c10-9ef5-c585ac6da701,PIECES,PIECES mischfarben | schwarz | Mischfarben | S...

In [10]:
offers_training_df_updated_1['updated'] = offers_training_df_updated_1['Name2'].str.replace('[^\w\s]', ' ', regex= True)
offers_training_df_updated_1.head()

,offer_id,brand,Name2,updated
0,d8e0dba8-98e8-48db-9850-dd30cff374e0,PIECES,PIECES hellblau | Blau Kleid,PIECES hellblau Blau Kleid
1,c0a743f8-68cf-44dc-80cf-b5edbe70ecb7,LASCANA,LASCANA schwarz | mischfarben | Schwarz Bikini...,LASCANA schwarz mischfarben Schwarz Bikini...
2,f0328791-9839-4bc1-ac62-78b7515e9601,MAMALICIOUS,MAMALICIOUS beige | Beige Chino-Hose,MAMALICIOUS beige Beige Chino Hose
3,556e8f61-b1d7-4d72-8bae-d74f9357270b,rosemunde,rosemunde rosa | Pink Top / Seidentop,rosemunde rosa Pink Top Seidentop
4,48b32330-0a6e-4c10-9ef5-c585ac6da701,PIECES,PIECES mischfarben | schwarz | Mischfarben | S...,PIECES mischfarben schwarz Mischfarben S...

In [11]:
offers_training_df_updated_2 = offers_training_df_updated_1 [['offer_id', 'brand', 'updated']]

In [12]:
offers_training_df_updated_2.head()

,offer_id,brand,updated
0,d8e0dba8-98e8-48db-9850-dd30cff374e0,PIECES,PIECES hellblau Blau Kleid
1,c0a743f8-68cf-44dc-80cf-b5edbe70ecb7,LASCANA,LASCANA schwarz mischfarben Schwarz Bikini...
2,f0328791-9839-4bc1-ac62-78b7515e9601,MAMALICIOUS,MAMALICIOUS beige Beige Chino Hose
3,556e8f61-b1d7-4d72-8bae-d74f9357270b,rosemunde,rosemunde rosa Pink Top Seidentop
4,48b32330-0a6e-4c10-9ef5-c585ac6da701,PIECES,PIECES mischfarben schwarz Mischfarben S...

In [13]:
offers_training_df_updated_3 = offers_training_df_updated_2.apply(lambda x: x.astype(str).str.lower())
offers_training_df_updated_3.head()

,offer_id,brand,updated
0,d8e0dba8-98e8-48db-9850-dd30cff374e0,pieces,pieces hellblau blau kleid
1,c0a743f8-68cf-44dc-80cf-b5edbe70ecb7,lascana,lascana schwarz mischfarben schwarz bikini...
2,f0328791-9839-4bc1-ac62-78b7515e9601,mamalicious,mamalicious beige beige chino hose
3,556e8f61-b1d7-4d72-8bae-d74f9357270b,rosemunde,rosemunde rosa pink top seidentop
4,48b32330-0a6e-4c10-9ef5-c585ac6da701,pieces,pieces mischfarben schwarz mischfarben s...

In [14]:
offers_training_df_updated_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102884 entries, 0 to 102883
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   offer_id  102884 non-null  object
 1   brand     102884 non-null  object
 2   updated   102884 non-null  object
dtypes: object(3)
memory usage: 2.4+ MB

In [15]:
# sorting unique brand in the dataset

unique_brand = offers_training_df_updated_3['brand'].unique().tolist()
sorted(unique_brand)[:10]

['ag jeans',
 'björn borg',
 'boley',
 'bree',
 'bruuns bazaar',
 'bullboxer',
 'burberry',
 'burlington',
 'call it spring',
 'camano']

In [18]:
#  sorts the strings alphabetically and then joins

process.extract('vero moda', unique_brand, scorer=fuzz.token_sort_ratio)

[('vero moda', 100),
 ('vero moda tall', 78),
 ('vero moda curve', 75),
 ('vero moda aware', 75),
 ('vero moda petite', 72)]

In [19]:
# takes out the common tokens before calculating the fuzz.ratio()

process.extract('vero moda', unique_brand, scorer=fuzz.token_set_ratio)

[('vero moda', 100),
 ('vero moda curve', 100),
 ('vero moda aware', 100),
 ('vero moda petite', 100),
 ('vero moda tall', 100)]

In [20]:
process.extract('more & more', unique_brand, scorer=fuzz.token_sort_ratio)

[('more & more', 100),
 ('gore wear', 56),
 ('free people', 50),
 ('vero moda curve', 50),
 ('vero moda aware', 50)]

In [21]:
process.extract('more & more', unique_brand, scorer=fuzz.token_set_ratio)

[('more & more', 100),
 ('moves', 67),
 ('mother', 60),
 ('mons royale', 53),
 ('bree', 50)]

In [22]:
# sorting unique updated column (combined column) in the dataset

unique_updated = offers_training_df_updated_3['updated'].unique().tolist()
sorted(unique_updated)[:10]

['ag jeans altrosa   pink jeans',
 'ag jeans anthrazit   grau jeans',
 'ag jeans apricot   orange jeans',
 'ag jeans beige   beige hose  velvet ',
 'ag jeans beige   beige sweatshirt',
 'ag jeans beige   weiß hose',
 'ag jeans beige   weiß jeans',
 'ag jeans beige   weiß sweatshirt   sweatjacke',
 'ag jeans black denim   schwarz jeans',
 'ag jeans black denim   schwarz jeans  alexxis ']

In [23]:
process.extract('jette pink pink polo shirt', unique_updated, scorer=fuzz.token_sort_ratio)

[('jette pink   pink polo shirt', 100),
 ('jette grün   pink   pink polo shirt', 93),
 ('jette pink   pink t shirt', 86),
 ('jette pink   pink uhr', 80),
 ('more   more pink   weiß   pink poloshirt', 75)]

In [24]:
process.extract('jette pink pink polo shirt', unique_updated, scorer=fuzz.token_set_ratio)

[('jette pink   pink polo shirt', 100),
 ('jette grün   pink   pink polo shirt', 100),
 ('jette pink   pink t shirt', 94),
 ('jette weiß   weiß polo shirt', 89),
 ('jette pastellgelb   pink   wollweiß   beige t shirt', 86)]

In [25]:
process.extract('zizzi schwarz jerseykleid', unique_updated, scorer=fuzz.token_sort_ratio)

[('zizzi schwarz jerseykleid', 100),
 ('zizzi schwarz jeanskleid', 90),
 ('zizzi schwarz echole jerseykleid', 88),
 ('zizzi schwarz freizeitkleid', 81),
 ('zizzi schwarz vmacy dress jerseykleid', 81)]

In [26]:
process.extract('zizzi schwarz jerseykleid', unique_updated, scorer=fuzz.token_set_ratio)

[('zizzi schwarz jerseykleid', 100),
 ('zizzi schwarz strap long jerseykleid etuikleid', 100),
 ('zizzi schwarz vfreja dress jerseykleid', 100),
 ('zizzi schwarz vmacy dress jerseykleid', 100),
 ('zizzi schwarz echole jerseykleid', 100)]

In [29]:
#to find the frequency of how many brands are frequently occuring in the dataset 
#we use count vectorizer

import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter


vectorizer = CountVectorizer(ngram_range=(2,2), analyzer='word')
sparse_matrix = vectorizer.fit_transform(offers_training_df_updated_3['updated'][:2000])
frequencies = sum(sparse_matrix).toarray()[0]
ngrams = pd.DataFrame(frequencies, index=vectorizer.get_feature_names(), columns=['frequency'])
ngrams = ngrams.sort_values(by='frequency', ascending=False)
ngrams

                 frequency
vero moda              468
schwarz schwarz        242
moda schwarz           130
weiß weiß               74
schwarz weiß            63
...                    ...
jeans ellie              1
jeans flikka             1
jeans gila               1
jeans grace              1
mlkesia lia              1

[4827 rows x 1 columns]

In [27]:
# taking a single brand 'more & more' out the dataset and working on that brand 
# for tfidf and cosine similarity

offers_training_df_updated_3_moremore = offers_training_df_updated_3[offers_training_df_updated_3['brand'] == 'more & more']
offers_training_df_updated_3_moremore.head()

,offer_id,brand,updated
39,4f767b35-6e84-4dd5-a814-34d9c559efcc,more & more,more more creme schwarz schwarz bleistif...
55,cccef1eb-d8b3-45da-99e5-7b63fc879cdc,more & more,more more anthrazit grau jeansjacke
74,a34d253a-da00-4596-b574-b9bc047e9d09,more & more,more more blau blau shirtjacke
97,34a35756-9fc4-4d38-8da4-1a03637175fe,more & more,more more schwarz schwarz plisseerock
148,c150641e-4b83-4fc3-8c70-9ace7eb93f52,more & more,more more schwarz silber schwarz t shirt

In [28]:
offers_training_df_updated_3_moremore.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2928 entries, 39 to 102876
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   offer_id  2928 non-null   object
 1   brand     2928 non-null   object
 2   updated   2928 non-null   object
dtypes: object(3)
memory usage: 91.5+ KB

In [30]:
# to calculate tfidf and cosine similarity 
# following functions are used 

def normalize(X): 
  normalized = []
  for x in X:
    words = nltk.word_tokenize(x)
    normalized.append(' '.join([stemmer.stem(word) for word in words if re.match('[a-zA-Z]+', word)]))
  return normalized

In [32]:
# The pipeline can be used as an estimator
# stemmers is very useful in keeping the words as a stem

from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english", ignore_stopwords=False)
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.preprocessing import FunctionTransformer
from nltk.corpus import stopwords

german_stop_words = stopwords.words('german')

pipe = Pipeline([
  ('normalize', FunctionTransformer(normalize, validate=False)),
  ('counter_vectorizer', CountVectorizer(
    max_df=0.8, max_features=200000,
    min_df=0.2, stop_words=german_stop_words,
    ngram_range=(1,3), dtype='uint8'
  )),
  ('tfidf_transform', TfidfTransformer())
])

tfidf_matrix = pipe.fit_transform([x for x in offers_training_df_updated_3_moremore['updated']])

In [33]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_distance = 1 - cosine_similarity(tfidf_matrix)

In [34]:
# cosine similarity for brand 'more & more' has been generated

cosine_similarity(tfidf_matrix)

array([[1.        , 0.        , 0.        , ..., 0.        , 0.78669406,
        0.53735414],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.78669406, 0.        , 0.        , ..., 0.        , 1.        ,
        0.94337372],
       [0.53735414, 0.        , 0.        , ..., 0.        , 0.94337372,
        1.        ]])

In [35]:
offers_training_df_updated_3_camano = offers_training_df_updated_3[offers_training_df_updated_3['brand'] == 'camano']
offers_training_df_updated_3_camano.head()

,offer_id,brand,updated
209,34e2b4b8-2f28-44d5-b533-3eeb3b689a87,camano,camano navy hellblau blau sportsocken
323,8a9363c2-9f47-49d2-ac34-6d0ad005e75c,camano,camano beige beige feinkniestrümpfe season ...
640,d58e6d51-3abf-40ef-bafe-883f55344708,camano,camano bordeaux soft sneaker box 7 pack socken
907,0add35ef-b84c-4dd2-b039-837aaabe2a52,camano,camano schwarz true matt leggings strümpfe
944,1afb433d-788f-423b-ac7d-a2c2a8443171,camano,camano schwarz grau blau grau blau soc...

In [36]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.preprocessing import FunctionTransformer
from nltk.corpus import stopwords

german_stop_words = stopwords.words('german')

pipe = Pipeline([
  ('normalize', FunctionTransformer(normalize, validate=False)),
  ('counter_vectorizer', CountVectorizer(
    max_df=0.8, max_features=200000,
    min_df=0.2, stop_words=german_stop_words,
    ngram_range=(1,3), dtype='uint8'
  )),
  ('tfidf_transform', TfidfTransformer())
])

tfidf_matrix_2 = pipe.fit_transform([x for x in offers_training_df_updated_3_camano['updated']])

In [37]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_distance = 1 - cosine_similarity(tfidf_matrix_2)

In [38]:
# cosine similarity for 2nd brand 'camano'

cosine_similarity(tfidf_matrix_2)

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.58408849,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.58408849, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])